@media only screen and (max-width: 480px) and (orientation: portrait) {
    body {font-size: 5em;}
    ul img { width: 200px;}/* thumbnails */
    ul img[src="trash.jpg"] { width: 100px;}/* delete-image */
    .desktop {
        display: none;
    }
    body div.mobile {
        color: yellow;
    }
}
div.mobil {
    color: red;
}
div.desktop {
    color: green;
}
li {list-style-type: none;}
ul li {margin-bottom: 10px;}

.mobil {
    color: blue;
}
.desktop {
    color: brown;
}

/*
li {list-style-type: none;}
ul img { width: 100px;}
ul img[src="trash.jpg"] { width: 50px;}
ul li {margin-bottom: 10px;}

@media only screen and (max-device-width: 480px) {
    body {font-size: 5em;}
    ul img { width: 200px;}
    ul img[src="trash.jpg"] { width: 100px;}
}
*/