/* gäller alla konfigurationer */
li {list-style-type: none;}
ul li {margin-bottom: 10px;}
/* SLUT gäller alla konfigurationer */

/* gäller desktop */
ul img { width: 200px;}
ul img[src="trash.jpg"] { width: 100px;}
/* SLUT gäller desktop */

@media only screen and (max-width: 640px) {
    body {
        font-size: large;
        -webkit-text-size-adjust: 100%;
    }
    ul img { width: 200px;}/* thumbnails */
    ul img[src="trash.jpg"] { width: 100px;}/* delete-image */
    .desktop {
        display: none;
    }
    .mobil {
        color: red;
    }
}


/*
li {list-style-type: none;}
ul img { width: 100px;}
ul img[src="trash.jpg"] { width: 50px;}
ul li {margin-bottom: 10px;}

@media only screen and (max-device-width: 480px) {
    body {font-size: 5em;}
    ul img { width: 200px;}
    ul img[src="trash.jpg"] { width: 100px;}
}
*/